* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LXGW WenKai Mono TC", monospace;
}

.main {
  /* background: url("../img/bg.mp4") center/cover no-repeat; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.content_gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_gif img {
  width: 100%;
  max-height: 290px;
  border-radius: 20px;
  object-fit: cover;

  transition: opacity 0.5s ease;
  opacity: 1;
}

.content_text {
  font-size: 24px;
  font-weight: 600;

  transition: opacity 0.3s ease;
  text-align: center;
}

.content_btns {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
}

.content_btn {
  padding: 14px 24px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  background-color: #298223;
  color: #fff;
  width: 100%;

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.content_btn:last-child {
  background-color: #551c22;
}
